<main class="container">
    <h2>Clientes</h2>
    <a routerLink="/cliente/novo" class="btn btn-primary" >Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umCliente of listaClientes">
                <td>{{umCliente.id}}</td>
                <td>{{umCliente.nome}}</td>
                <td>{{umCliente.cpf}}</td>
                <td>{{umCliente.email}}</td>
                <td>{{umCliente.telefone}}</td>
                <td>{{umCliente.endereco}}</td>
            </tr>
        </tbody>

    </table>
</main>