<main class="container">
    <h2>Funcionários</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umFuncionario of listaFuncionarios">
                <td>{{umFuncionario.id}}</td>
                <td>{{umFuncionario.nome}}</td>
                <td>{{umFuncionario.cpf}}</td>
                <td>{{umFuncionario.email}}</td>
                <td>{{umFuncionario.telefone}}</td>
                <td>{{umFuncionario.endereco}}</td>
                <td>{{umFuncionario.cargo}}</td>
                <td><a (click)="alterar(umFuncionario)"
                    class="btn btn-primary">Alterar</a>
                    &nbsp;
                    <a (click)="abrirConfirmacao(umFuncionario)" 
                        class="btn btn-danger">Excluir</a>

                </td>
            </tr>
        </tbody>

    </table>
</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir funcionário</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do funcionário?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>