<main class="container">
    <h2>Funcionários</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Cargo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umFuncionario of listaFuncionarios">
                <td>{{umFuncionario.id}}</td>
                <td>{{umFuncionario.nome}}</td>
                <td>{{umFuncionario.cpf}}</td>
                <td>{{umFuncionario.email}}</td>
                <td>{{umFuncionario.telefone}}</td>
                <td>{{umFuncionario.endereco}}</td>
                <td>{{umFuncionario.cargo}}</td>
                <td><a (click)="alterar(umFuncionario)"
                    class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>

    </table>
</main>