<main class="container">
    <h2>Produto</h2>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="txtFabricante">Fabricante</label>
                <input type="text" [(ngModel)]="produto.fabricante" class="form-control" id="txtFabricante">
            </div>

            <div class="form-group">
                <label for="txtLargura">Largura</label>
                <input type="text" [(ngModel)]="produto.largura" class="form-control" id="txtLargura">
            </div>

            <div class="form-group">
                <label for="txtPerfil">Perfil</label>
                <input type="text" [(ngModel)]="produto.perfil" class="form-control" id="txtPerfil">
            </div>

            <div class="form-group">
                <label for="txtTipoConstrucao">Tipo de Construção</label>
                <input type="text" [(ngModel)]="produto.tipoConstrucao" class="form-control" id="txtTipoConstrucao">
            </div>

            <div class="form-group">
                <label for="txtDiametro">Diametro</label>
                <input type="text" [(ngModel)]="produto.diametro" class="form-control" id="txtDiametro">
            </div>

            <div class="form-group">
                <label for="txtPreco">Preço</label>
                <input type="text" [(ngModel)]="produto.preco" class="form-control" id="txtPreco">
            </div>

            <div class="form-group">
                <label for="txtPreco">Quantidade</label>
                <input type="text" [(ngModel)]="produto.preco" class="form-control" id="txtPreco">
            </div>
        </div>

        <button (click)="salvar()"
            class="btn btn-primary">Salvar</button>

    </div>
</main>